head{
  background-color: yellow;
  color: green;
  text-align: center;
}
h1{
  text-align: center;
  color: green;
}
h2{
  color: darkgreen;
  font-family: sans-serif;
  font-style: oblique;
  text-align: center;
}
h3{
  text-align: center;
  color: green;
}
body{
  background-color: lightgreen;
}
